# =======================
# Misc / SO
# =======================
*.class
*.log
*.pyc
*.swp
.DS_Store
Thumbs.db
Desktop.ini
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
.env
.env.*.local

# =======================
# IDEs
# =======================
# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/
# VS Code
.vscode/

# =======================
# Flutter / Dart / Pub
# =======================
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.pub/
.pub-cache/
.packages
/coverage/
/build/

# =======================
# Android (no tocar *.gradle.kts)
# =======================
android/.gradle/
android/local.properties
android/key.properties
*.keystore
*.jks
/android/app/debug
/android/app/profile
/android/app/release

# =======================
# iOS
# =======================
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.podspec
**/*.xcworkspace/*
**/*.xcuserdatad/*
**/DerivedData/*

# =======================
# Windows / Linux / macOS (generados)
# =======================
linux/flutter/generated_*
windows/flutter/generated_*
macos/Flutter/GeneratedPluginRegistrant.swift

# =======================
# Simbolización / Ofuscación
# =======================
app.*.symbols
app.*.map.json